{% extends "layout.twig" %}

{% block page %}
    <div class="well">
        <h1>Scrobbler</h1>
        <p class="lead">
            {{ "welcome"|trans }}
        </p>
        <p><a href="{{ url('home') }}" class="btn btn-primary btn-large">{{"start"|trans}}</a></p>
    </div>
{% endblock %}
