<!DOCTYPE html>
<html>
    <head>
        {% block head %}
            <meta charset="utf-8">
            <title>{% block title %}MarietjeScrobbler{% endblock %}</title>
        {% endblock %}
    </head>
    <body>
        <div id="page">
            {% block page %}
                <h1>Whoops</h1>
                <p>Looks like someone forgot to add content</p>
            {% endblock %}
        </div>
    </body>
</html>
