body {
    padding-top: 60px;
    padding-bottom: 40px;
}

body.modal-open {
    overflow: hidden;
}

#nowplaying {
    text-align: center;
}

#nowplaying .thumbnail div {
    overflow: hidden;
    text-overflow: ellipsis;
}
